<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-catalogo2.css">
</head>
<body>
    <div class="row">
        <div class="col descripcion-catalogo">
            <h2 class="descripcion-texto">En nuestro catálogo de productos podrás encontrar historietas, novelas, cuentos, poesías y libros de arte de una gran 
                variedad de géneros para todas las edades. Nuestro objetivo es satisfacer las necesidades de un abanico amplio de publico 
                al mismo tiempo que incentivamos la curiosidad de probar cosas nuevas a cada vez más gente. Mientras cuidamos el bolsillo 
                con precios económicos con ediciones de calidad.</h2>
        </div>
    </div>
    <div class="row catalogo-libros">
        <% for (var i=0; i < libros.length; i++) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 titulos">
                <hr>
                <a href="/catalogo/libro/<%= i+1 %>"><h3 class="libro-nombre"><%= libros[i].titulo %></h3></a>
                <a href="/catalogo/libro/<%= i+1 %>"><img class="tapas" src="<%= libros[i].tapa %>"></a>
                <p>$<%= libros[i].precio %></p>
                <p><%= libros[i].tipo %></p>
                <p><%= libros[i].genero %> </p>
                <p><%= libros[i].publico %></p>
            </div>
        <% } %>
    </div>
</body>
