<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-libro2.css">
</head>
<body>
    <div class="row producto-datos">
        <div class="col-lg-6 imagen-tapa">
            <img class="tapas" src="<%= libros.tapa %>" alt="">
        </div>
        <div class="col-lg-6 datos-libro">
            <h1 class="nombre-producto"><%= libros.titulo %></h1>
            <h2 class="nombre-autor"><%= libros.autor %></h2>
            <h2 class="precio">$<%= libros.precio %></h2>
            <p class="genero"><%= libros.genero %></p>
            <p class="tipo"><%= libros.tipo %></p>
            <p class="publico"><%= libros.publico %></p>
            <p class="medida"><%= libros.tamaño %>cm</p>
        </div>
    </div>
    <div class="row justify-content-start paginas-muestra">
        <div class="col-lg-2 pagina">
            <a href="<%= libros.pagina1 %>" target="blank"><img class="paginas-image" src="<%= libros.pagina1 %>" alt=""></a>
        </div>
        <div class="col-lg-2 pagina">
            <a href="<%= libros.pagina2 %>" target="blank"><img class="paginas-image" src="<%= libros.pagina2 %>" alt=""></a>
        </div>
        <div class="col-lg-2 pagina">
            <a href="<%= libros.pagina3 %>" target="blank"><img class="paginas-image" src="<%= libros.pagina3 %>" alt=""></a>
        </div>
        <div class="col-lg-2 pagina">
            <a href="<%= libros.pagina4 %>" target="blank"><img class="paginas-image" src="<%= libros.pagina4 %>" alt=""></a>
        </div>
        <div class="col-lg-2 pagina">
            <a href="<%= libros.pagina5 %>" target="blank"><img class="paginas-image" src="<%= libros.pagina5 %>" alt=""></a>
        </div>
    </div>
    <div class="row caja-descripcion">
        <div class="col">
            <p class="descripcion"><%= libros.descripcion %> </p>
        </div>
    </div>
    <!-- <h1 class="nombre-producto"><%= libros.titulo %></h1>
    <div class="presentacion">
        <img class="tapas" src="<%= libros.tapa %>" alt="">
        <div class="informacion">
            <p class="precio">$<%= libros.precio %></p>
            <p>La version digital a mitad de precio.</p>
            <form action="/carrito" method="POST" class="info-form">
                <p class="stock">Stock: <%= libros.stock %></p>
                <input type="number" id="identificacion" name="identificacion" value="<%= libros.id %>">
            </form>
        </div>
    </div>
    <div class="datos">
        <ul class="imagenes">
            <li><a href="<%= libros.pagina1 %>" target="blank"><img src="<%= libros.pagina1 %>" alt=""></a></li>
            <li><a href="<%= libros.pagina2 %>" target="blank"><img src="<%= libros.pagina2 %>" alt=""></a></li>
            <li><a href="<%= libros.pagina3 %>" target="blank"><img src="<%= libros.pagina3 %>" alt=""></a></li>
            <li><a href="<%= libros.pagina4 %>" target="blank"><img src="<%= libros.pagina4 %>" alt=""></a></li>
            <li><a href="<%= libros.pagina5 %>" target="blank"><img src="<%= libros.pagina5 %>" alt=""></a></li>
        </ul>
        <p id="descripcion"><%= libros.descripcion %> </p>
        <p>Autor: <%= libros.autor %> </p>
        <p>Genero: <%= libros.genero %> </p>
        <p>Tipo: <%= libros.tipo %> </p>
        <p>Publico: <%= libros.publico %> </p>
        <p>Tamaño: <%= libros.tamaño %>cm </p>
    </div> -->
</body>
