<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- CSS stylesheets-->
    <link rel="stylesheet" href="/public/stylesheets/style-noticia.css">
</head>
<body>
    <div class="row caja-noticia">
        <div class="row cajas">
            <div class="col titulo">
                <h1><%= noticias.titulo %></h1>
            </div>
        </div>
        <div class="row cajas">
            <div class="col bajada">
                <h3><%= noticias.bajada %></h3>
            </div>
        </div>
        <div class="row cajas">
            <div class="col fecha">
                <p><%= noticias.fecha %> </p>
            </div>
        </div>
        <div class="row cajas">
            <div class="col foto-central">
                <a href="<%= noticias.foto %>"><img class="imagen-central" src="<%= noticias.foto %>" alt=""></a>
            </div>
        </div>
        <div class="row cajas">
            <div class="col cuerpo">
                <% if (noticias.cuerpo1 !== null && noticias.cuerpo2 !== null && noticias.cuerpo3 !== null) { %> 
                    <p><%= noticias.cuerpo1 %></p> 
                    <br>
                    <p><%= noticias.cuerpo2 %></p>
                    <br>
                    <p><%= noticias.cuerpo3 %></p>
                <% } else if (noticias.cuerpo1 !== null) { %>
                    <p><%= noticias.cuerpo1 %></p> 
                <% } else if (noticias.cuerpo1 !== null && noticias.cuerpo2 !== null) { %>
                    <p><%= noticias.cuerpo1 %></p> 
                    <br>
                    <p><%= noticias.cuerpo2 %></p>
                <% } %> 
            </div>
        </div>
        <div class="row cajas caja-imagenes">
            <div class="col imagenes-extra">
                <% if (noticias.imagen1 !== null && noticias.imagen2 !== null && noticias.imagen3 !== null) { %> 
                    <a href="<%= noticias.imagen1 %>"><img class="img-extra primera" src="<%= noticias.imagen1 %>" alt=""></a>
                    <a href="<%= noticias.imagen2 %>"><img class="img-extra segunda" src="<%= noticias.imagen2 %>" alt=""></a>
                    <a href="<%= noticias.imagen3 %>"><img class="img-extra tercera" src="<%= noticias.imagen3 %>" alt=""></a>
                <% } else if (noticias.imagen1 !== null) { %>
                    <a href="<%= noticias.imagen1 %>"><img class="img-extra primera" src="<%= noticias.imagen1 %>" alt=""></a>
                <% } else if (noticias.imagen1 !== null && noticias.imagen2 !== null) { %>
                    <a href="<%= noticias.imagen1 %>"><img class="img-extra primera" src="<%= noticias.imagen1 %>" alt=""></a>
                    <a href="<%= noticias.imagen2 %>"><img class="img-extra segunda" src="<%= noticias.imagen2 %>" alt=""></a>
                <% } %> 
            </div>
        </div>
    </div>
</body>